<%= form_with model: @article, local: true, class: "card p-4 shadow-sm" do |form| %>

  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, rows: 5, class: "form-control" %>
  </div>

  <%= form.submit class: "btn btn-success" %>
<% end %>
