<div class="row justify-content-center">
  <div class="col-md-8">
  
    <h1 class="mb-3"><%= @article.title %></h1>

    <p class="lead"><%= @article.description %></p>

    <div class="mt-4">
      <%= link_to "Edit", edit_article_path(@article), class: "btn btn-primary me-2" %>

      <%= link_to "Delete", @article,
          data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
          class: "btn btn-danger me-2" %>

      <%= link_to "Back to Articles", articles_path, class: "btn btn-secondary" %>
    </div>

  </div>
</div>
