<!DOCTYPE html>
<html data-bs-theme="auto">
  <head>
    <title>AlphaBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- CSS compilado pelo Webpack -->
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>

    <!-- JS compilado pelo Webpack -->
    <%= javascript_include_tag "application", defer: true %>
  </head>

  <body>
    <%= render "layouts/navbar" %>

    <div class="container mt-4">

      <!-- Flash messages -->
      <%= render "layouts/messages" %>

     <!-- Jumbotrons contextuais -->
      <% if controller_name == "pages" && action_name == "home" %>
        <%= render "layouts/jumbotron_home" %>

      <% elsif controller_name == "articles" && action_name == "index" %>
        <%= render "layouts/jumbotron_articles" %>
      <% end %>

      <%= yield %>
    </div>

    <%#= render "layouts/footer" %>
  </body>
</html>
